In [1]:
import numpy as np
import pandas as pd

In [2]:
data= pd.read_csv("houserentdhaka.csv")

In [3]:
data[data['Location']=='Baridhara, Dhaka']

       Unnamed: 0          Location        Area  Bed  Bath        Price
4               4  Baridhara, Dhaka  2,200 sqft    3     3  75 Thousand
6               6  Baridhara, Dhaka  2,300 sqft    3     3  75 Thousand
30             30  Baridhara, Dhaka  1,524 sqft    3     3       1 Lakh
105           105  Baridhara, Dhaka  1,524 sqft    3     3       1 Lakh
154           154  Baridhara, Dhaka  4,200 sqft    4     4       4 Lakh
...           ...               ...         ...  ...   ...          ...
27621        3621  Baridhara, Dhaka  2,500 sqft    3     3     1.5 Lakh
27850        3850  Baridhara, Dhaka  2,300 sqft    3     3  80 Thousand
28137        4137  Baridhara, Dhaka  3,750 sqft    4     4       3 Lakh
28488        4488  Baridhara, Dhaka  2,250 sqft    3     3  60 Thousand
28636        4636  Baridhara, Dhaka  2,400 sqft    3     4  65 Thousand

[106 rows x 6 columns]

In [4]:
data.head()

,Unnamed: 0,Location,Area,Bed,Bath,Price
0,0,"Block H, Bashundhara R-A, Dhaka","1,600 sqft",3,3,20 Thousand
1,1,"Farmgate, Tejgaon, Dhaka",900 sqft,2,2,20 Thousand
2,2,"Block B, Nobodoy Housing Society, Mohammadpur,...","1,250 sqft",3,3,18 Thousand
3,3,"Gulshan 1, Gulshan, Dhaka","2,200 sqft",3,4,75 Thousand
4,4,"Baridhara, Dhaka","2,200 sqft",3,3,75 Thousand

In [6]:
data['Price'].unique()

array(['20 Thousand', '18 Thousand', '75 Thousand', '50 Thousand',
       '14 Thousand', '28 Thousand', '19 Thousand', '40 Thousand',
       '60 Thousand', '16 Thousand', '35 Thousand', '1.6 Lakh',
       '25 Thousand', '30 Thousand', '18.63 Thousand', '32 Thousand',
       '1 Lakh', '2 Lakh', '10 Thousand', '15 Thousand', '27 Thousand',
       '24 Thousand', '38 Thousand', '80 Thousand', '1.5 Lakh',
       '1.2 Lakh', '26 Thousand', '45 Thousand', '85 Thousand',
       '13 Thousand', '1.1 Lakh', '24.76 Thousand', '17 Thousand',
       '95 Thousand', '55 Thousand', '31 Thousand', '2.4 Lakh',
       '54 Thousand', '90 Thousand', '42 Thousand', '1.4 Lakh',
       '33 Thousand', '8.5 Thousand', '11 Thousand', '12 Thousand',
       '4 Lakh', '65 Thousand', '36 Thousand', '70 Thousand',
       '52.5 Thousand', '2.5 Lakh', '5 Thousand', '3.5 Lakh', '1.15 Lakh',
       '15.5 Thousand', '36.75 Thousand', '33.5 Thousand', '3 Lakh',
       '22 Thousand', '12.5 Thousand', '2.15 Lakh', '7 Thousand',
       '13.5 Thousand', '2.8 Lakh', '39 Thousand', '11.5 Thousand',
       '6.5 Thousand', '1.35 Lakh', '1.3 Lakh', '21 Thousand',
       '45.5 Thousand', '16.53 Thousand', '17.5 Thousand', '7.5 Thousand',
       '57 Thousand', '19.26 Thousand', '67.5 Thousand', '23 Thousand',
       '9 Thousand', '16.5 Thousand', '34 Thousand', '37 Thousand',
       '28.5 Thousand', '48 Thousand', '18.5 Thousand', '24.5 Thousand',
       '34.5 Thousand', '1.25 Lakh', '1.7 Lakh', '14.5 Thousand',
       '6.5 Lakh', '10.5 Thousand', '52 Thousand', '37.5 Thousand',
       '8 Thousand', '17.99 Thousand', '1.8 Lakh', '1.85 Lakh',
       '2.7 Lakh', '18.2 Thousand', '51 Thousand', '17.48 Thousand',
       '29 Thousand', '26.5 Thousand', '44 Thousand', '43 Thousand',
       '56 Thousand', '6.3 Thousand', '60.15 Thousand', '4.5 Lakh',
       '18.65 Thousand', '25.5 Thousand', '23.5 Thousand',
       '19.5 Thousand', '24.78 Thousand', '22.5 Thousand',
       '17.2 Thousand', '22.8 Thousand', '2.2 Lakh', '59 Thousand',
       '18.1 Thousand', '43.75 Thousand', '26.25 Thousand',
       '13.53 Thousand', '5.5 Thousand', '30.5 Thousand', '40.5 Thousand',
       '16.18 Thousand', '3.2 Lakh', '79 Thousand', '9.5 Thousand',
       '29.9 Thousand', '13.7 Thousand', '16.57 Thousand',
       '13.6 Thousand', '1.66 Lakh', '13.2 Thousand', '30.1 Thousand',
       '20.5 Thousand', '10.65 Thousand', '15.6 Thousand', '47 Thousand',
       '17.8 Thousand', '16.05 Thousand', '12.7 Thousand',
       '21.5 Thousand', '15.4 Thousand', '18.68 Thousand',
       '15.3 Thousand', '41 Thousand', '14.2 Thousand', '17.3 Thousand',
       '32.5 Thousand', '18.7 Thousand', '15.1 Thousand', '27.5 Thousand',
       '16.2 Thousand', '11.6 Thousand', '46 Thousand', '25.6 Thousand',
       '10.7 Thousand', '16.7 Thousand', '12.8 Thousand', '12.4 Thousand',
       '62 Thousand', '19.3 Thousand', '12.3 Thousand', '10.6 Thousand',
       '41.5 Thousand', '9.8 Thousand', '11.28 Thousand', '45.2 Thousand',
       '8.3 Thousand', '17.7 Thousand', '24.3 Thousand', '42.5 Thousand',
       '43.5 Thousand', '21.7 Thousand', '14.47 Thousand',
       '14.7 Thousand', '44.5 Thousand', '53 Thousand', '9.6 Thousand',
       '10.55 Thousand', '13.9 Thousand', '15.7 Thousand',
       '35.5 Thousand', '1.65 Lakh', '8.6 Thousand', '25.75 Thousand',
       '58 Thousand', '16.3 Thousand', '15.2 Thousand', '29.5 Thousand',
       '17.24 Thousand', '10.8 Thousand', '13.63 Thousand',
       '20.2 Thousand', '16.07 Thousand', '16.8 Thousand',
       '10.2 Thousand', '38.5 Thousand', '16.27 Thousand',
       '22.7 Thousand', '2.6 Lakh', '17.25 Thousand', '12.2 Thousand',
       '13.38 Thousand', '11.7 Thousand', '12.1 Thousand',
       '20.4 Thousand', '16.9 Thousand', '13.8 Thousand', '17.1 Thousand',
       '21.18 Thousand', '14.15 Thousand', '20.6 Thousand',
       '19.68 Thousand', '4.8 Lakh', '18.6 Thousand', '13.3 Thousand',
       '7.7 Thousand', '47.5 Thousand'], dtype=object)

In [7]:
data= data.drop(columns=["Unnamed: 0"])

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28800 entries, 0 to 28799
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Location  28800 non-null  object
 1   Area      28800 non-null  object
 2   Bed       28800 non-null  int64
 3   Bath      28800 non-null  int64
 4   Price     28800 non-null  object
dtypes: int64(2), object(3)
memory usage: 1.1+ MB

In [9]:
for i in data.columns:
    print(data[i].value_counts())
    print('-----------')

Location
Mohammadpur, Dhaka                                 757
Mirpur, Dhaka                                      556
Block D, Section 12, Mirpur, Dhaka                 417
Dhanmondi, Dhaka                                   414
Block E, Section 12, Mirpur, Dhaka                 411
                                                  ...
Tilpapara Road, Tilpapara, Khilgaon, Dhaka           1
Old Elephant Road, Maghbazar, Dhaka                  1
Road No 16, Banani, Dhaka                            1
South Kutubkhali, Kutubkhali, Jatra Bari, Dhaka      1
Majed Sardar Road, Bangshal, Dhaka                   1
Name: count, Length: 730, dtype: int64
-----------
Area
650 sqft      3042
700 sqft      2810
800 sqft      2396
1,200 sqft    1591
750 sqft      1394
              ...
1,082 sqft       1
835 sqft         1
1,674 sqft       1
845 sqft         1
2,190 sqft       1
Name: count, Length: 596, dtype: int64
-----------
Bed
2    14277
3    12972
4     1064
1      461
5       24
6        2
Name: count, dtype: int64
-----------
Bath
2    15768
3     8468
1     2369
4     2048
5      139
6        7
8        1
Name: count, dtype: int64
-----------
Price
15 Thousand       2679
12 Thousand       2056
20 Thousand       2019
16 Thousand       1947
14 Thousand       1875
                  ...
13.7 Thousand        1
29.9 Thousand        1
79 Thousand          1
16.18 Thousand       1
47.5 Thousand        1
Name: count, Length: 223, dtype: int64
-----------

In [10]:
data['Location'].value_counts()

Location
Mohammadpur, Dhaka                                 757
Mirpur, Dhaka                                      556
Block D, Section 12, Mirpur, Dhaka                 417
Dhanmondi, Dhaka                                   414
Block E, Section 12, Mirpur, Dhaka                 411
                                                  ...
Tilpapara Road, Tilpapara, Khilgaon, Dhaka           1
Old Elephant Road, Maghbazar, Dhaka                  1
Road No 16, Banani, Dhaka                            1
South Kutubkhali, Kutubkhali, Jatra Bari, Dhaka      1
Majed Sardar Road, Bangshal, Dhaka                   1
Name: count, Length: 730, dtype: int64

In [11]:
data.isna().sum()

Location    0
Area        0
Bed         0
Bath        0
Price       0
dtype: int64

In [12]:
def str2int(number):
    temp= number.split(' ')
    temp[0]= temp[0].replace(',','')
    x=1
    if temp[1]=='Thousand':
        x=1000
    elif temp[1]=='Lakh':
        x= 100000
    temp[0]= float(temp[0])
    temp[0]= temp[0]*x
    return float(temp[0])

In [13]:
data['Price']= data['Price'].apply(str2int)

In [14]:
data['Price']= data['Price'].apply(lambda x:int(x))
data['Price']

0        20000
1        20000
2        18000
3        75000
4        75000
         ...
28795    15000
28796    25000
28797    23000
28798    30000
28799    15000
Name: Price, Length: 28800, dtype: int64

In [15]:
data['Area']= data['Area'].apply(str2int)

In [16]:
data['Area']= data['Area'].apply(int)
data['Area']

0        1600
1         900
2        1250
3        2200
4        2200
         ...
28795    1400
28796    1400
28797    1250
28798    1900
28799    1150
Name: Area, Length: 28800, dtype: int64

In [17]:
location_count= data['Location'].value_counts()
location_count

Location
Mohammadpur, Dhaka                                 757
Mirpur, Dhaka                                      556
Block D, Section 12, Mirpur, Dhaka                 417
Dhanmondi, Dhaka                                   414
Block E, Section 12, Mirpur, Dhaka                 411
                                                  ...
Tilpapara Road, Tilpapara, Khilgaon, Dhaka           1
Old Elephant Road, Maghbazar, Dhaka                  1
Road No 16, Banani, Dhaka                            1
South Kutubkhali, Kutubkhali, Jatra Bari, Dhaka      1
Majed Sardar Road, Bangshal, Dhaka                   1
Name: count, Length: 730, dtype: int64

In [18]:
location10= location_count[location_count<=10]

In [19]:
data['Location']= data['Location'].apply(lambda x:'Other' if x in location10 else x)

In [20]:
data['Location'].value_counts()

Location
Other                                                1232
Mohammadpur, Dhaka                                    757
Mirpur, Dhaka                                         556
Block D, Section 12, Mirpur, Dhaka                    417
Dhanmondi, Dhaka                                      414
                                                     ...
Block C, Future Town, Bochila, Mohammadpur, Dhaka      11
South Manikdi, Manikdi, Cantonment, Dhaka              11
Chalabon, Dakshin Khan, Dhaka                          11
Avenue 10, Mirpur DOHS, Mirpur, Dhaka                  11
Lalkuthi, 3rd Colony, Mirpur, Dhaka                    11
Name: count, Length: 418, dtype: int64

In [21]:
data.describe()

               Area           Bed          Bath          Price
count  28800.000000  28800.000000  28800.000000   28800.000000
mean    1057.332049      2.511076      2.369653   21008.717153
std      477.821030      0.601353      0.756758   21495.755843
min      200.000000      1.000000      1.000000    5000.000000
25%      700.000000      2.000000      2.000000   13000.000000
50%      900.000000      2.000000      2.000000   16000.000000
75%     1250.000000      3.000000      3.000000   22000.000000
max     6300.000000      6.000000      8.000000  650000.000000

In [22]:
data= data[(data['Area']/data['Bed'])>=300]
data.describe()

               Area           Bed          Bath          Price
count  27876.000000  27876.000000  27876.000000   27876.000000
mean    1071.620498      2.514385      2.398479   21279.541685
std      478.252799      0.603584      0.745538   21788.253020
min      300.000000      1.000000      1.000000    5000.000000
25%      700.000000      2.000000      2.000000   13000.000000
50%      950.000000      2.000000      2.000000   16000.000000
75%     1250.000000      3.000000      3.000000   22000.000000
max     6300.000000      6.000000      8.000000  650000.000000

In [23]:
data['pps']= data['Price']/data['Area']
data.pps.describe()

count    27876.000000
mean        18.946916
std          6.575892
min          6.500000
25%         15.384615
50%         18.000000
75%         20.952381
max        228.571429
Name: pps, dtype: float64

In [24]:
data.head()

,Location,Area,Bed,Bath,Price,pps
0,"Block H, Bashundhara R-A, Dhaka",1600,3,3,20000,12.500000
1,"Farmgate, Tejgaon, Dhaka",900,2,2,20000,22.222222
2,"Block B, Nobodoy Housing Society, Mohammadpur,...",1250,3,3,18000,14.400000
3,"Gulshan 1, Gulshan, Dhaka",2200,3,4,75000,34.090909
4,"Baridhara, Dhaka",2200,3,3,75000,34.090909

In [25]:
def outlier_area(df):
    df_out= pd.DataFrame()
    for key,subdf in df.groupby('Location'):
        m= np.mean(subdf.pps)
        st= np.std(subdf.pps)
        gen_df= subdf[(subdf.pps>m-st) & (subdf.pps<=m+st)]
        df_out= pd.concat([df_out,gen_df],ignore_index=True)
    return df_out
data= outlier_area(data)
data.describe()

              Area           Bed          Bath          Price           pps
count  19913.00000  19913.000000  19913.000000   19913.000000  19913.000000
mean    1069.32416      2.518757      2.409732   20918.033395     18.720971
std      467.03759      0.592882      0.736196   18476.584118      5.440524
min      400.00000      1.000000      1.000000    6500.000000      8.464329
25%      700.00000      2.000000      2.000000   13000.000000     15.652174
50%      950.00000      2.000000      2.000000   16000.000000     17.977528
75%     1250.00000      3.000000      3.000000   22000.000000     20.454545
max     6300.00000      6.000000      6.000000  400000.000000     80.000000

In [26]:
def outlier_bed(df):
    exc_ind= np.array([])
    for loc,loc_df in df.groupby('Location'):
        bed_stat={}
        for bed,bed_df in loc_df.groupby('Bed'):
            bed_stat[bed]={
                'mean': np.mean(bed_df.pps),
                'std': np.std(bed_df.pps),
                'count': bed_df.shape[0]
            }
        for bed,bed_df in loc_df.groupby('Bed'):
            stats= bed_stat.get(bed-1)
            if stats and stats['count']>5:
                exc_ind= np.append(exc_ind,bed_df[bed_df.pps<(stats['mean'])].index.values)
    return df.drop(exc_ind,axis= 'index')

In [27]:
data= outlier_bed(data)
data.shape

(14195, 6)

In [28]:
data.describe()

               Area           Bed          Bath          Price           pps
count  14195.000000  14195.000000  14195.000000   14195.000000  14195.000000
mean    1004.669250      2.376893      2.296161   20593.368721     19.251954
std      469.121726      0.573573      0.714439   20575.486521      5.954415
min      400.000000      1.000000      1.000000    6500.000000      8.464329
25%      700.000000      2.000000      2.000000   12000.000000     16.000000
50%      800.000000      2.000000      2.000000   15000.000000     18.461538
75%     1200.000000      3.000000      3.000000   20000.000000     21.052632
max     6300.000000      6.000000      6.000000  400000.000000     80.000000

In [29]:
data.drop(columns=['pps'],inplace= True)

In [30]:
data.head()

                    Location  Area  Bed  Bath  Price
0  1st Colony, Mirpur, Dhaka   800    2     2  13500
1  1st Colony, Mirpur, Dhaka   700    2     2  12000
2  1st Colony, Mirpur, Dhaka  1100    3     3  20000
3  1st Colony, Mirpur, Dhaka  1100    3     3  20000
5  1st Colony, Mirpur, Dhaka   700    2     2  12000

In [31]:
for i in ['Bed','Bath','Area']:
  data[i]= data[i].apply(float)

In [32]:
data.sort_values(by='Location')

                               Location    Area  Bed  Bath  Price
0             1st Colony, Mirpur, Dhaka   800.0  2.0   2.0  13500
18            1st Colony, Mirpur, Dhaka  1120.0  3.0   3.0  20000
17            1st Colony, Mirpur, Dhaka   950.0  2.0   2.0  14000
11            1st Colony, Mirpur, Dhaka   650.0  2.0   2.0  11000
9             1st Colony, Mirpur, Dhaka   700.0  2.0   2.0  12000
...                                 ...     ...  ...   ...    ...
19889  aziz Moholla, Mohammadpur, Dhaka   720.0  2.0   2.0  15500
19890  aziz Moholla, Mohammadpur, Dhaka   720.0  2.0   2.0  15000
19892  aziz Moholla, Mohammadpur, Dhaka   720.0  2.0   2.0  15500
19885  aziz Moholla, Mohammadpur, Dhaka   720.0  2.0   2.0  15500
19912  aziz Moholla, Mohammadpur, Dhaka   720.0  2.0   2.0  14000

[14195 rows x 5 columns]

In [33]:
data['Location'].value_counts()

Location
Block D, Section 12, Mirpur, Dhaka                    325
Other                                                 321
Mirpur, Dhaka                                         283
Block E, Section 12, Mirpur, Dhaka                    242
Section 12, Mirpur, Dhaka                             224
                                                     ...
Kazibari, Dakshin Khan, Dhaka                           5
West Mollartek, Dakshin Khan, Dhaka                     5
South Manikdi, Manikdi, Cantonment, Dhaka               5
Block A, Chad Uddan Housing, Mohammadpur, Dhaka         4
Block B, Dakkhin Paikpara, Paikpara, Mirpur, Dhaka      3
Name: count, Length: 416, dtype: int64

In [34]:
data.to_csv('cleaned_data.csv')

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import  make_pipeline
from sklearn.metrics import r2_score

In [36]:
X= data.drop(columns=['Price'])
y= data['Price']

In [37]:
X_train,X_test, y_train,y_test= train_test_split(X,y, test_size= 0.2, random_state=0)
X_train.shape

(11356, 4)

In [39]:
y_test.shape

(2839,)

In [43]:
# column_trans= make_column_transformer((OneHotEncoder(sparse= False), ['Location']), remainder= 'passthrough')
column_trans = make_column_transformer(
    (OneHotEncoder(sparse_output=False), ['Location']),
    remainder='passthrough'
)

In [44]:
scaler= StandardScaler()

In [45]:
lr= LinearRegression()

In [46]:
pipe= make_pipeline(column_trans,scaler,lr)

In [47]:
pipe.fit(X_train,y_train)
y_pred_lr= pipe.predict(X_test)
r2_score(y_test,y_pred_lr)

0.909043324509028

In [48]:
# lasso= Lasso()
# pipe= make_pipeline(column_trans,scaler,lasso)
# pipe.fit(X_train,y_train)

In [49]:
y_pred_lasso= pipe.predict(X_test)
r2_score(y_test, y_pred_lasso)

0.909043324509028

In [50]:
ridge= Ridge()
pipe= make_pipeline(column_trans, scaler, ridge)

In [51]:
pipe.fit(X_train,y_train)

c:\Users\tanim\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\compose\_column_transformer.py:1623: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['Location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [52]:
y_pred_ridge= pipe.predict(X_test)
r2_score(y_test,y_pred_ridge)

0.9090787330415789

In [54]:
import pickle
pickle.dump(pipe,open('ridgemodel.pkl','wb'))

In [55]:
data[data['Location']=='Gulshan 2, Gulshan, Dhaka']

                       Location    Area  Bed  Bath   Price
8103  Gulshan 2, Gulshan, Dhaka  3000.0  4.0   4.0  150000
8105  Gulshan 2, Gulshan, Dhaka  3000.0  3.0   4.0  150000
8106  Gulshan 2, Gulshan, Dhaka  2100.0  4.0   4.0  100000
8107  Gulshan 2, Gulshan, Dhaka  2200.0  3.0   3.0   85000
8108  Gulshan 2, Gulshan, Dhaka  2400.0  3.0   3.0  120000
...                         ...     ...  ...   ...     ...
8204  Gulshan 2, Gulshan, Dhaka  5000.0  4.0   5.0  280000
8205  Gulshan 2, Gulshan, Dhaka  2450.0  4.0   4.0  150000
8206  Gulshan 2, Gulshan, Dhaka  2500.0  3.0   3.0  100000
8207  Gulshan 2, Gulshan, Dhaka  3650.0  4.0   4.0  166000
8208  Gulshan 2, Gulshan, Dhaka  3000.0  4.0   4.0  150000

[100 rows x 5 columns]

My name is Tanim, I am from Noakhali, Chittagong. I am a final semster student of International Islamic University Chittagong at the department of CSE.